{
	"root": true,
	"extends": [
		"eslint:recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"prettier"
	],
	"env": {
		"node": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaFeatures": {},
		"ecmaVersion": "latest",
		"sourceType": "module",
		"requireConfigFile": false
	}
}
